.mainContainer{
    max-width: 1050px;
    margin: 0 auto;
}
.mainContainer p{
    text-align: center;
    font-size: 20px;
    color: var(--white);
    margin-bottom: 10px;
}

.wrapped{
    display: flex;
    justify-content: center;

}
